@import "my-variables.scss";

/* =========================
    html and body
========================= */

html {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 10px;
        border: 3px solid $dark-color;

    &:hover {
        background-color: lighten($primary-color, 8%);
        }
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $dark-color;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
    width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 10px;
        border: 3px solid $dark-color;
    }

    img {
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: auto;
}
}

/* fallback para Firefox */
// html {
//   scrollbar-width: thin; /* auto | thin | none */
//   scrollbar-color: $primary-color $dark-color;
// }
