@import "my-variables.scss";

/* =========================
    buttons
========================= */

.btn-primary {
    background-color: $off-white-color;
    color: $dark-color;
    text-transform: uppercase;
    font-weight: 800;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
    border: none;
    padding: .5rem clamp(3rem, 2vw + 0.5rem, 4rem);
    transition: all 0.4s ease;
    &:hover {
        background-color: $dark-color;
        color: $off-white-color;
    }
}

.btn-footer {
    &:hover {
        background-color: $primary-color;
        color: $dark-color;
    }
}