@import "my-variables.scss";

/* =========================
    home
========================= */

#home {
    background: linear-gradient(to bottom,
    $primary-color 0%,
    #83F2B5 100%,
    );
    color: $dark-color;
    padding-bottom: 0;
    h1 {
        padding-top: 3rem;
        font-weight: 800;
        font-size: clamp(3rem, 4vw + 1rem, 5rem);
        @include media-breakpoint-up(lg) {
            padding-top: 0;
            margin-left: -.5rem;
        }
    }

    p {
        font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
        @include media-breakpoint-up(lg) {
            margin-left: -.5rem;
        }
    }

    button {
        @include media-breakpoint-up(lg) {
        margin-left: -.5rem;
        }
    }

    img {
        width: 90%;
        @include media-breakpoint-up(lg) {
        margin-top: -1.2rem;
        }
    }
}

#hand-modv {
    @include media-breakpoint-up(lg) {
        margin-top: -2rem;
        margin-left: 4rem;
        margin-right: -4rem;

        img {
            width: 95%;
            z-index: 1000;
        }
    }
}