@import "my-variables.scss";

/* =========================
    Navbar
========================= */

header {
    background-color: $primary-color;
    img {
        margin-left: 3rem;
    }
}

#menu {
    padding-top: 2rem;
}

.font-custom-navbar {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
}

.nav-item {
    margin-right: 3rem;
}