@import "my-variables.scss";

.pages {
    margin-bottom: .5rem;
    margin-top: 0;
    padding: 0;
    button {
        color: $primary-color;
        border: none;
    }
    
}

#service-img, #service-nina {
    margin: 0;
    padding: 0;
    img {
        object-fit: cover;
        width: 98vw;
        height: auto;
    }
}

