/* =========================
    general sections styles
========================= */

section {
    margin: 0 !important;
    padding: 0;
    display: flex;
    align-items: center; // centraliza verticalmente o conteúdo
    justify-content: center;
}

/* Remove margens internas dos textos */
section h1,
section p {
    margin: 0;
    padding: 0;
}