@import "my-variables.scss";
@import "carousel.scss";

/* =========================
    services
========================= */

#services {
    background-color: $dark-color;
    background-image: url('/assets/images/module_desktop.png');
    background-size: 130%;
    background-position: left;
    background-position-x: -100%;
    background-position-y:top;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 3rem;
    color: $off-white-color;
    h1 {
        // text-align: left;
        font-weight: 800;
        color: $primary-color;
        font-size: clamp(3rem, 2vw + 1rem, 5rem);
    }
    h3{
        font-size: clamp(1rem, 1vw + 1rem, 2rem);
    }
    #pin-location, #pin-location-web {
        font-size: clamp(.5rem, 1vw + .5rem, 1rem);
    }
}