@import "my-variables.scss";

/* =========================
    testimonials
========================= */

#testimonials {
    background-color: $primary-color;
    color: $dark-color;
    h1 {
        font-size: clamp(3rem, 4vw + 1rem, 5rem);
        color: $dark-color;
    }
}