@import "my-variables.scss";

/* =========================
    video player
========================= */

.carousel-item {
    display: none;
    justify-content: center;
    align-items: center;
}

.carousel-item.active {
    display: flex !important;
}

.custom-video-player {
    position: relative;
    width: 100%;
    height: 600px;
    max-width: 330px;
    background: black;
    overflow: hidden;
    border-radius: 12px;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .controls {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.6);
        padding: 8px 12px;
        box-sizing: border-box;
        z-index: 10;

    .control-btn {
        background: none;
        border: none;
        color: $off-white-color;
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: $primary-color; 
        }
    }

        .progressBar {
            flex: 1;
            margin: 0 10px;
            accent-color: $primary-color;
            cursor: pointer;
        }

        .time {
            color: $off-white-color;
            font-size: 0.8rem;
            white-space: nowrap;
        }
    }
}
